/* CSS */

.sidebar {
    margin-right: 150px;
    height: 100%;
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
}

    .sidebar div {
        padding: 8px;
        font-size: 16px;
        display: block;
    }

    .sidebar .wrapper {
        margin-top:20px;
    }
#line-title {
    text-decoration: underline;
}
